table,
th,
tr,
td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }

div {
    background: green;
}
img {
    border: 1px solid black;
}

#span1 {
    background: salmon;
}